h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

@font-face {
  font-family: 'suisse-light';
  src: url("../../fonts/suissebpintl-light-webfont.eot");
  src: url("../../fonts/suissebpintl-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/suissebpintl-light-webfont.woff") format("woff"), url("../../fonts/suissebpintl-light-webfont.ttf") format("truetype"), url("../../fonts/suissebpintl-light-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'suisse-regular';
  src: url("../../fonts/suissebpintl-regular-webfont.eot");
  src: url("../../fonts/suissebpintl-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/suissebpintl-regular-webfont.woff") format("woff"), url("../../fonts/suissebpintl-regular-webfont.ttf") format("truetype"), url("../../fonts/suissebpintl-regular-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'suisse-medium';
  src: url("../../fonts/suissebpintl-medium-webfont.eot");
  src: url("../../fonts/suissebpintl-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/suissebpintl-medium-webfont.woff") format("woff"), url("../../fonts/suissebpintl-medium-webfont.ttf") format("truetype"), url("../../fonts/suissebpintl-medium-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'suisse-antique';
  src: url("../../fonts/suissebpintl-antique-webfont.eot");
  src: url("../../fonts/suissebpintl-antique-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/suissebpintl-antique-webfont.woff") format("woff"), url("../../fonts/suissebpintl-antique-webfont.ttf") format("truetype"), url("../../fonts/suissebpintl-antique-webfont.svg#webfont") format("svg");
}

h1, h2, h2.proj-title, h3, h4, h5, h6, p, p strong, ul, li, figcaption, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: inherit;
}

h1.black.light {
  font-family: 'suisse-light';
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}

h1.black.medium {
  font-family: 'suisse-medium';
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}

h1.black.regular {
  font-family: 'suisse-regular';
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}

h2.black.light {
  font-family: 'suisse-light';
  font-size: 32px;
  line-height: 36px;
  color: #000000;
}

@media (max-width: 400px) {
  h2.black.light {
    font-size: 20px;
    line-height: 22px;
  }
}

h2.black.medium {
  font-family: 'suisse-medium';
  font-size: 32px;
  line-height: 36px;
  color: #000000;
}

@media (max-width: 400px) {
  h2.black.medium {
    font-size: 20px;
    line-height: 22px;
  }
}

h3.black.medium {
  font-family: 'suisse-medium';
  font-size: 25px;
  color: #000000;
  line-height: 30px;
}

h4.plus.black.medium {
  font-family: 'suisse-light';
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

@media (max-width: 400px) {
  h4.plus.black.medium {
    font-size: 18px;
    line-height: 24px;
  }
}

h4.beige.regular {
  font-family: 'suisse-regular';
  font-size: 16px;
  line-height: 24px;
  color: #B5A98C;
}

@media (max-width: 400px) {
  h4.beige.regular {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h4.beige.medium {
  font-family: 'suisse-medium';
  font-size: 16px;
  line-height: 24px;
  color: #B5A98C;
}

@media (max-width: 400px) {
  h4.beige.medium {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h4.black.medium {
  font-family: 'suisse-medium';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media (max-width: 400px) {
  h4.black.medium {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h4.grey.medium {
  font-family: 'suisse-medium';
  font-size: 16px;
  line-height: 24px;
  color: #838383;
}

@media (max-width: 400px) {
  h4.grey.medium {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h4.black.antique {
  font-family: 'suisse-antique';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media (max-width: 400px) {
  h4.black.antique {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h4.beige.antique {
  font-family: 'suisse-antique';
  font-size: 16px;
  line-height: 24px;
  color: #B5A98C;
}

@media (max-width: 400px) {
  h4.beige.antique {
    font-size: 14px;
    line-height: 1.4em;
  }
}

h5.beige.medium {
  font-family: 'suisse-medium';
  font-size: 14px;
  line-height: 1.4em;
  color: #B5A98C;
}

h5.beige.antique {
  font-family: 'suisse-antique';
  font-size: 14px;
  line-height: 1.4em;
  color: #B5A98C;
}

h6.light.orange {
  font-family: 'suisse-light';
  font-size: 12px;
  line-height: 16px;
  color: #FE4E33;
}

label {
  font-weight: 100;
}

label.beige.antique {
  font-family: 'suisse-antique';
  font-size: 16px;
  line-height: 24px;
  color: #B5A98C;
}

@media (max-width: 400px) {
  label.beige.antique {
    font-size: 14px;
    line-height: 1.4em;
  }
}

label.black.medium {
  font-family: 'suisse-medium';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media (max-width: 400px) {
  label.black.medium {
    font-size: 14px;
    line-height: 1.4em;
  }
}

button {
  height: 36px;
  border-radius: 5px;
}

button.secondary {
  border: 2px solid #000000;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

button.secondary:hover {
  background-color: rgba(181, 169, 140, 0.3);
}

@media (max-width: 400px) {
  button h4.black.antique {
    font-size: 16px;
    line-height: 24px;
  }
}

.dropdown {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(181, 169, 140, 0.15);
  border-radius: 0px;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  font-family: 'suisse-light';
  font-size: 32px;
  line-height: 36px;
  color: #CACACA;
  background-color: #ffffff;
  background-image: url("../../images/arrows.svg");
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
}

.custom-gap-63 {
  height: 63px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  height: 48px;
  z-index: 10000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -webkit-transition: height 0.4s ease-out;
}

header.expand {
  height: 84px;
}

@media (max-width: 640px) {
  header.expand {
    height: 48px;
  }
}

header .hamburger-menu {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: aqua;
  right: -50vw;
  top: 0px;
  opacity: 0.5;
  transition: right 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: right 0.2s ease-out, opacity 0.2s ease-out;
  -webkit-transition: right 0.2s ease-out, opacity 0.2s ease-out;
}

header .hamburger-menu.show {
  opacity: 1;
  right: 0px;
}

header .hamburger-menu li {
  display: block;
}

header .logo {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 7px;
}

@media (max-width: 640px) {
  header .logo {
    display: none;
  }
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul.secondaryLinks {
  display: block;
  position: absolute;
  top: 0px;
  right: 15px;
  font-family: 'suisse-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
}

header ul.secondaryLinks li.reg a {
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

header ul.secondaryLinks li.reg a:hover {
  text-decoration: none;
  color: #000000;
  background-color: rgba(254, 78, 51, 0.5);
}

@media (max-width: 640px) {
  header ul.secondaryLinks {
    display: none;
  }
}

header ul.primaryLinks {
  font-family: 'suisse-antique';
  font-size: 14px;
  position: absolute;
  left: 49%;
  bottom: 20px;
  opacity: 0;
  white-space: nowrap;
  z-index: 999;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  letter-spacing: 0.01em;
  transition: opacity 0.2s ease-out, bottom 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out, bottom 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out, bottom 0.2s ease-out;
}

header ul.primaryLinks li a {
  text-decoration: none;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

header ul.primaryLinks li a:hover {
  color: #000000;
  background-color: rgba(254, 78, 51, 0.25);
}

header ul.primaryLinks li.active a {
  color: #000000;
  background-color: rgba(254, 78, 51, 0.5);
}

header ul.primaryLinks.expand {
  opacity: 1;
  bottom: 8px;
}

@media (max-width: 640px) {
  header ul.primaryLinks.expand {
    opacity: 0;
    bottom: 20px;
  }
}

header ul.primaryLinks .beige {
  font-family: 'suisse-regular';
  color: #B5A98C;
}

header ul.primaryLinks li:last-of-type {
  margin-right: 0px;
}

header ul li {
  display: inline-block;
  margin-right: 24px;
}

header ul li a {
  text-decoration: none;
  color: #000000;
}

header ul li.cart {
  margin-right: 0;
}

header ul li.cart .cart-icon {
  display: inline-block;
  position: relative;
  margin-right: 6px;
}

header ul li.cart .cart-icon span {
  position: absolute;
  right: 12px;
  top: 2px;
  font-family: 'suisse-regular';
  color: #FE4E33;
  font-size: 14px;
}

header ul li.cart span {
  color: #FE4E33;
  text-decoration: none;
}

header ul li.cart.active span {
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

header ul li.cart.active span:hover {
  cursor: pointer;
}

header ul li.cart.active span:hover span {
  background-color: rgba(181, 169, 140, 0.3);
}

.logo-small {
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 1001;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@media (max-width: 640px) {
  .logo-small {
    display: block;
  }
}

.mobile-header-icons {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1001;
}

@media (max-width: 640px) {
  .mobile-header-icons {
    display: block;
  }
}

.mobile-header-icons .hamburger {
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
}

.mobile-header-icons .hamburger.close {
  padding-top: 3px;
}

.mobile-header-icons .cart-icon-mobile {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}

.mobile-header-icons .cart-icon-mobile span {
  position: absolute;
  right: 12px;
  top: 0px;
  font-family: 'suisse-regular';
  color: #FE4E33;
  font-size: 14px;
}

.banner {
  display: block;
  position: relative;
  margin-top: 48px;
  width: 100%;
  height: 288px;
  z-index: 9999;
  overflow: hidden;
  background-image: url("../../images/banner-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 232px;
}

.banner .container {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .banner {
    height: 229px;
  }
}

.banner h1.banner__caption {
  text-align: left;
  max-width: 798px;
  color: #000000;
}

@media (max-width: 800px) {
  .banner h1.banner__caption {
    font-size: 42px;
    line-height: 1.3em;
  }
}

@media (max-width: 640px) {
  .banner h1.banner__caption {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 480px) {
  .banner h1.banner__caption {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 400px) {
  .banner h1.banner__caption {
    font-size: 28px;
    line-height: 36px;
  }
}

.banner h1.banner__caption span {
  margin-left: 13px;
  font-family: 'suisse-regular';
  font-size: 14px;
  line-height: 18px;
}

.banner h1.banner__caption span a {
  color: #000000;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

.banner h1.banner__caption span a:hover {
  background-color: rgba(254, 78, 51, 0.25);
  text-decoration: none;
}

.banner h1.banner__caption span img {
  margin: 0 0 2px 4px;
}

h4.section__title {
  text-transform: uppercase;
  margin-top: 63px;
  padding-top: 4px;
  border-top: 1px solid #F4F2EE;
}

.primary-categories__card-grid .category-card {
  padding: 15px;
}

@media (max-width: 400px) {
  .primary-categories__card-grid .category-card {
    padding: 8px 15px 8px 15px;
  }
}

.primary-categories__card-grid .category-card .category-card__content-wrapper {
  position: relative;
  height: 384px;
  background-color: rgba(181, 169, 140, 0.15);
  padding: 18px 15px 18px 15px;
  border-radius: 5px;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

@media (max-width: 480px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper {
    height: 340px;
  }
}

@media (max-width: 400px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper {
    height: 220px;
  }
}

.primary-categories__card-grid .category-card .category-card__content-wrapper .category-data {
  position: absolute;
  top: 158px;
}

@media (max-width: 400px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper .category-data {
    top: 91px;
  }
}

.primary-categories__card-grid .category-card .category-card__content-wrapper .category-data .category-data__wheel-diameter {
  margin-top: 23px;
}

@media (max-width: 400px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper .category-data .category-data__wheel-diameter {
    margin-top: 15px;
  }
}

.primary-categories__card-grid .category-card .category-card__content-wrapper h4.category-data__tag {
  text-transform: uppercase;
}

.primary-categories__card-grid .category-card .category-card__content-wrapper h6.category-data__tip {
  letter-spacing: 0.01em;
  text-transform: none;
  width: 130px;
  margin-top: 4px;
}

.primary-categories__card-grid .category-card .category-card__content-wrapper img.category-card__image {
  position: absolute;
  right: 15px;
  bottom: 0px;
  max-width: 232px;
}

@media (max-width: 767px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper img.category-card__image {
    max-width: 232px;
  }
}

@media (max-width: 480px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper img.category-card__image {
    max-width: 220px;
  }
}

@media (max-width: 400px) {
  .primary-categories__card-grid .category-card .category-card__content-wrapper img.category-card__image {
    max-width: 142px;
  }
}

.primary-categories__card-grid .category-card:hover .category-card__content-wrapper {
  background-color: rgba(181, 169, 140, 0.3);
}

.primary-categories__card-grid .category-card:hover h2.black.medium {
  text-decoration: none !important;
}

.primary-categories__card-grid a:hover {
  text-decoration: none;
}

h3.best-sellers__title {
  margin-top: 63px;
}

.best-sellers__card-grid .best-sellers-card {
  padding: 15px;
  min-width: 360px;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar {
  height: 382px;
  border: 0.5px solid #B5A98C;
  border-radius: 5px;
  cursor: pointer;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar:hover .best-sellers-card__content-wrapper {
  background-color: rgba(181, 169, 140, 0.15);
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar:hover .best-sellers-card__content-wrapper button {
  background-color: rgba(181, 169, 140, 0.3);
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar {
    height: 316px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__category-bar {
  position: relative;
  background-color: rgba(181, 169, 140, 0.15);
  height: 36px;
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__category-bar {
    height: 32px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__category-bar h4.best-sellers-card__category-name {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper {
  padding: 22px 15px 15px 15px;
  position: relative;
  height: 346px;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

@media (max-width: 767px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper {
    padding: 16px 15px 15px 15px;
  }
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper {
    height: 280px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper h2.best-sellers-card__title {
  width: 80%;
  border-bottom: 0.5px solid rgba(181, 169, 140, 0.3);
  padding-bottom: 5px;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper h4.best-sellers-card__sub-title {
  width: 50%;
  margin-top: 9px;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper img {
  position: absolute;
  right: 10px;
  top: 15px;
  max-width: 144px;
}

@media (max-width: 767px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper img {
    max-width: 180px;
  }
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper img {
    max-width: 142px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper .product-data {
  position: absolute;
  top: 188px;
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper .product-data {
    top: 131px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper .product-data .product-data__wheel-diameter {
  margin-top: 10px;
}

@media (max-width: 400px) {
  .best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper .product-data .product-data__wheel-diameter {
    margin-top: 10px;
  }
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper .product-data h5.product-data__tag {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper button {
  display: block;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
}

.best-sellers__card-grid .best-sellers-card .best-sellers-card-plus-bar .best-sellers-card__content-wrapper button h4 {
  line-height: normal;
}

.category-page-content {
  margin-top: 144px;
}

.category-page-content .series-block .overview {
  background-color: rgba(181, 169, 140, 0.1);
}

.category-page-content .series-block .overview .container h3.overview__title {
  margin-top: 16px;
}

.category-page-content .series-block .overview .container .overview__data__block {
  display: flex;
  padding-bottom: 15px;
}

.category-page-content .series-block .overview .container .overview__data__block .overview__data {
  margin: 23px 36px 0 0;
}

.category-page-content .series-block .overview .container .overview__data__block .overview__data:last-of-type {
  margin-right: 0px;
}

.category-page-content .series-block .overview .container .overview__data__block h4.data__tag {
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .category-page-content .series-block .overview .container .overview__data__block h4.data__tag {
    width: 60px;
  }
}

.category-page-content .series-block .overview .container .overview__data__block h4.data__qty .beige {
  color: #B5A98C;
}

.category-page-content .series-block .container.product-cards {
  padding: 0px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid {
  margin: 0 0 45px 0;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid a {
  text-decoration: none;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card {
  padding: 15px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper {
  position: relative;
  border: 0.5px solid #B5A98C;
  border-radius: 5px;
  height: 346px;
  padding: 22px 15px 15px 15px;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

@media (max-width: 400px) {
  .category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper {
    height: 280px;
  }
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper:hover {
  background-color: rgba(181, 169, 140, 0.15);
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper:hover button {
  background-color: rgba(181, 169, 140, 0.3);
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper h2.product-card__title {
  width: 70%;
  border-bottom: 0.5px solid rgba(181, 169, 140, 0.3);
  padding-bottom: 5px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper h4.product-card__sub-title {
  width: 50%;
  margin-top: 9px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper .product-data {
  position: absolute;
  bottom: 63px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper .product-data h5 {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper img.product-card__image {
  position: absolute;
  right: 25px;
  top: 30px;
  max-width: 180px;
}

@media (max-width: 400px) {
  .category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper img.product-card__image {
    max-width: 142px;
  }
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper button {
  display: block;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
}

.category-page-content .series-block .container.product-cards .product-cards__card-grid .product-card .product-card__content-wrapper button h4 {
  line-height: normal;
}

.config-castor-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
}

h3.config-castor__title {
  margin-top: 150px;
}

div.config-panel {
  margin-top: 18px;
  border: 1px solid #B5A98C;
  height: 648px;
  border-radius: 5px;
}

div.config-panel .series-bar {
  background-color: rgba(181, 169, 140, 0.15);
  height: 36px;
}

div.config-panel .series-bar h4 {
  padding: 8px 0 0 15px;
}

.config-panel__body {
  display: flex;
}

.config-panel__body .image-wrapper {
  display: inline-block;
  position: relative;
  height: 546px;
  width: 60%;
}

.config-panel__body .image-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 432px;
}

.config-fields {
  position: relative;
  padding: 15px 15px 0 0;
  width: 40%;
}

.config-field-dd-material, .config-field-dd-wheel-dia,
.config-fields-vitalsMeta-bracket-quantity {
  position: absolute;
  right: 15px;
}

.config-field-dd-material {
  z-index: 1000;
}

.config-field-dd-wheel-dia {
  top: 169px;
  z-index: 999;
}

.config-fields-vitalsMeta-bracket-quantity {
  top: 257px;
}

.config-fields-vitalsMeta-bracket-quantity > div {
  margin-bottom: 15px;
}

.config-fields-vitalsMeta-bracket-quantity > div:last-of-type {
  margin-bottom: 0px;
}

.dd-wrapper {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

.dd-wrapper.dd-material {
  right: 50px;
  z-index: 1000;
}

.dd-wrapper.dd-wheel-dia {
  right: 50px;
  top: 300px;
  z-index: 999;
}

.radio-label, .dd-label, .input-label {
  margin-bottom: 5px;
}

.dd-select {
  border: 0.5px solid #B5A98C;
  width: 435px;
}

.dd-select:hover {
  cursor: pointer;
}

.dd-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dd-activeOption {
  padding: 10px 10px 10px 10px;
}

.dd-activeOption:hover {
  background-color: rgba(181, 169, 140, 0.15);
}

.dd-activeOption.dd-material {
  height: 104px;
  border-bottom: 0.5px solid #B5A98C;
}

.dd-activeOption.dd-wheel-dia {
  height: 50px;
  border-bottom: 0.5px solid #B5A98C;
}

.dd-list {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  width: 435px;
}

.dd-list.dd-material {
  height: 345px;
  overflow-y: scroll;
}

.dd-list-item {
  padding: 10px 10px 10px 10px;
}

.dd-list-item:last-of-type {
  border-bottom: 0px;
}

.dd-list-item:hover {
  background-color: rgba(181, 169, 140, 0.15);
}

.dd-list-item.dd-material {
  height: 104px;
}

.dd-list-item.dd-wheel-dia {
  height: 50px;
}

.dd-list-item.active {
  background-color: rgba(181, 169, 140, 0.3);
}

.radio-list {
  list-style-type: none;
  padding-left: 0px;
  width: 435px;
  display: flex;
}

.radio-list-item {
  border: 0.5px solid #B5A98C;
  width: 50%;
  padding-left: 10px;
  padding-top: 6px;
  height: 50px;
}

.radio-list-item:last-of-type {
  margin-left: 12px;
}

.radio-list-item:hover {
  background-color: rgba(181, 169, 140, 0.15);
  cursor: pointer;
}

.radio-list-item.active {
  background-color: rgba(181, 169, 140, 0.3);
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.checkbox + label:before {
  content: '';
  margin-right: 10px;
  margin-top: -1px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #B5A98C;
}

.checkbox:hover + label:before {
  background: rgba(181, 169, 140, 0.3);
}

.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:checked + label:before {
  background: #B5A98C;
}

.checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.checkbox-block.disabled label {
  color: #CACACA;
  cursor: default;
}

.checkbox-block.disabled label:before {
  display: none !important;
}

.checkbox-block.disabled label:after {
  display: none !important;
}

.wheel-config-meta {
  display: flex;
}

.wheel-config-meta div {
  margin-right: 32px;
}

.wheel-config-meta div:last-of-type {
  margin-right: 0px;
}

.wheel-config-meta h5.beige.antique {
  line-height: 15px;
}

.wheel-config-meta h4 {
  margin-top: 6px;
}

footer {
  color: #ffffff;
  background-color: #000000;
}
