
//banner styling

.banner{
  display: block;
  position: relative;
  margin-top: 48px;
  width: 100%;
  height: 288px;
  z-index: 9999;
  overflow: hidden;
  background-image: url('../../images/banner-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 232px;

  @include breakpoint($mob_480){
    height: 229px;

  }

  h1{

    margin: 0;
    text-align: left;
    position: absolute;
    left: 135px;
    top: 50%;
    @include translateY(-50%);
    font-family: 'suisse-light';
    font-size: 50px;
    line-height: 60px;
    max-width: 798px;
    color: $black;

    @include breakpoint($tab_960){
      left: 50%;
      width: 746px;
      @include translate(-50%, -50%);
    }

    @include breakpoint($tab_800){
      left: 15px;
      @include translateY(-50%);
      width: 660px;
      font-size: 42px;
      line-height: 52px;
    }

    @include breakpoint($tab_640){
      width: 450px;
      font-size: 40px;
      line-height: 48px;
    }

    @include breakpoint($mob_480){
      font-size: 32px;
      line-height: 40px;
      width: 380px;
    }

    @include breakpoint($mob_400){
      font-size: 28px;
      line-height: 34px;
      width: 272px;
    }

    //learn more span
    span{
      margin-left: 13px;
      font-family: 'suisse-regular';
      font-size: 14px;
      line-height: 18px;

      @include breakpoint($mob_400){
        display: block;
        margin: 0;
        padding-top: 2px;
      }

      a{
        color: $black;
      }

      img{
        margin: 0 0 2px 4px;
      }
    }

  }
}
