


.best-sellers-grid{

  .best-sellers-tile{
      padding: 15px;
      min-width: 360px;

      @include breakpoint($tab_1080){
        width: 50%;
      }

      @include breakpoint($tab_767){
        width: 100%;
      }

      .tile-content-area-and-bar{
          height: 372px;
        	border: 0.5px solid #B5A98C;
          border-radius: 5px;

          @include breakpoint($mob_400){
            height: 316px;
          }

          .category-bar{
            position: relative;
            background-color: $light-beige;
            height: 36px;

            @include breakpoint($mob_400){
              height: 32px;
            }

            h6{
              position: absolute;
              left: 15px;
              top: 50%;
              @include translateY(-50%);
              font-family: 'suisse-medium';
              font-size: 16px;
              line-height: 19px;
              color: $black;

              @include breakpoint($mob_400){
                font-size: 12px;;
              }

            }
          }
          .tile-content-area{

            padding: 22px 15px 15px 15px;
            position: relative;

            @include breakpoint($tab_767){
              padding: 16px 15px 15px 15px;
            }

            h1{
              font-family: 'suisse-light';
              font-size: 32px;
              line-height: 36px;
              width: 80%;
              border-bottom: 0.5px solid $light-beige-2;
              padding-bottom: 5px;

              @include breakpoint($mob_400){
                font-size: 25px;
              }
            }

            h2{
              font-family: 'suisse-medium';
              font-size: 16px;
              line-height: 22px;
              width: 160px;
              margin-top: 9px;

              @include breakpoint($mob_400){
                font-size: 12px;
                line-height: 16px;
              }
            }

            img{
              position: absolute;
              right: 10px;
              top: 15px;
              max-width: 144px;

              @include breakpoint($tab_767){
                max-width: 180px;
              }

              @include breakpoint($mob_400){
                max-width: 142px;
              }
            }

            .vital-info{
              position: absolute;
              top: 175px;

              @include breakpoint($mob_400){
                top: 127px;
              }

              .wheel-diameter-content{
                margin-top: 23px;

                @include breakpoint($mob_400){
                  margin-top: 15px;
                }
              }

              h5{
                font-family: 'suisse-medium';
                color: $beige;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.03em;
              }

              h4{
                font-family: 'suisse-medium';
                color: $black;
                font-size: 16px;
                line-height: 28px;
              }

            }
        }
    }
  }
}
