// main: App.scss


.category-page-content{
    margin-top: 144px;

  .series-block{

    .overview{
      background-color: rgba(181,169,140,0.1);


      .container{

        h3.overview__title{


          margin-top: 16px;
        }

        .overview__data__block{

          display: flex;
          padding-bottom: 15px;

          .overview__data{
              margin: 23px 36px 0 0;
              &:last-of-type{
                margin-right: 0px;
              }
          }


          h4.data__tag{

            letter-spacing: 0.01em;
            text-transform: uppercase;

            @include breakpoint($tab_640){
              width: 60px;
            }

          }

          h4.data__qty{


            .beige{
              color: $beige;
            }
          }
        }
      }
    }

    .container.product-cards{
      padding: 0px;

    .product-cards__card-grid{
      margin: 0 0 45px 0;

      a{
        text-decoration: none;
      }

    .product-card{
      padding: 15px;
    //  min-width: 360px;

      .product-card__content-wrapper{

        position: relative;
        border: 0.5px solid $beige;
        border-radius: 5px;
        height: 346px;
        padding: 22px 15px 15px 15px;
        @include transition(background-color 0.4s);


        @include breakpoint($mob_400){
          height: 280px;
        }

        &:hover{
          background-color: $light-beige;

          button{
            background-color: $light-beige-2;
          }
        }

        h2.product-card__title{

          width: 70%;
          border-bottom: 0.5px solid $light-beige-2;
          padding-bottom: 5px;

        }


        h4.product-card__sub-title{

          width: 50%;
          margin-top: 9px;

        }

        .product-data{

          position: absolute;
          bottom: 63px;

          h5{
            text-transform: uppercase;
            letter-spacing: 0.03em;
          }

          h4.product-data__qty{

            // margin-top: 5px;

          }
        }

        img.product-card__image{
          position: absolute;
          right: 25px;
          top: 30px;
          max-width: 180px;

          @include breakpoint($mob_400){
            max-width: 142px;
          }
        }




          button{
            display: block;

            width: calc(100% - 30px);
            position: absolute;
            bottom: 15px;

            h4{
              line-height: normal;
            }

        }


      }
    }
  }
}
  }
}
