//normalize
h1, h2, h3, h4, h5, h6, body{
  margin: 0;
  //letter-spacing: 0.01em;
}

//colors
$black: #000000;
$black-shadow: rgba(0,0,0,0.15);
$beige: #B5A98C;
$yellow: #fff000;
$white: #ffffff;
$orange: #FE4E33;
$light-beige: rgba(181,169,140,0.15);
$light-beige-2: rgba(181,169,140,0.3);

//mobile width

$tab_1080: 1080px;
$tab_960: 960px;
$tab_800: 800px;
$tab_767: 767px;
$tab_640: 640px;
$mob_480: 480px;
$mob_400: 400px;


//mixins

@mixin drop-shadow{
  box-shadow: 0px 2px 10px $black-shadow;
  
}

@mixin translateY($val){
  transform: translateY($val);
  -moz-transform: translateY($val);
  -webkit-transform: translateY($val);
}

@mixin translateX($val){
  transform: translateX($val);
  -moz-transform: translateX($val);
  -webkit-transform: translateX($val);
}

@mixin translate($val, $val){
  transform: translate($val, $val);
  -moz-transform: translate($val, $val);
  -webkit-transform: translate($val, $val);
}

@mixin transition($val){
  transition: $val;
  -moz-transition: $val;
  -webkit-transition: $val;
}

@mixin doubleTransition($val, $val2){
  transition: $val, $val2;
  -moz-transition: $val, $val2;
  -webkit-transition: $val, $val2;
}

@mixin breakpoint($point){
  @if $point == $mob_400{
    @media (max-width: 400px){
      @content;
    }
  }
  @else if $point == $mob_480{
    @media (max-width: 480px){
      @content;
    }
  }
  @else if $point == $tab_800{
    @media (max-width: 800px){
      @content;
    }
  }
  @else if $point == $tab_767{
    @media (max-width: 767px){
      @content;
    }
  }
  @else if $point == $tab_640{
    @media (max-width: 640px){
      @content;
    }
  }
  @else if $point == $tab_960{
    @media (max-width: 960px){
      @content;
    }
  }
  @else if $point == $tab_1080{
    @media (max-width: 1080px){
      @content;
    }
  }
}


//fonts

@font-face{
	font-family: 'suisse-light';
	src: url('../../fonts/suissebpintl-light-webfont.eot');
	src: url('../../fonts/suissebpintl-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/suissebpintl-light-webfont.woff') format('woff'),
	     url('../../fonts/suissebpintl-light-webfont.ttf') format('truetype'),
	     url('../../fonts/suissebpintl-light-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'suisse-regular';
	src: url('../../fonts/suissebpintl-regular-webfont.eot');
	src: url('../../fonts/suissebpintl-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/suissebpintl-regular-webfont.woff') format('woff'),
	     url('../../fonts/suissebpintl-regular-webfont.ttf') format('truetype'),
	     url('../../fonts/suissebpintl-regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'suisse-medium';
	src: url('../../fonts/suissebpintl-medium-webfont.eot');
	src: url('../../fonts/suissebpintl-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/suissebpintl-medium-webfont.woff') format('woff'),
	     url('../../fonts/suissebpintl-medium-webfont.ttf') format('truetype'),
	     url('../../fonts/suissebpintl-medium-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'suisse-antique';
	src: url('../../fonts/suissebpintl-antique-webfont.eot');
	src: url('../../fonts/suissebpintl-antique-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/suissebpintl-antique-webfont.woff') format('woff'),
	     url('../../fonts/suissebpintl-antique-webfont.ttf') format('truetype'),
	     url('../../fonts/suissebpintl-antique-webfont.svg#webfont') format('svg');
}
