// main: App.scss

.config-castor-wrapper{
  margin-top: 124px;

  h4.section__title{
    margin-top: 0;
  }
}

h3.config-castor__title{
margin-top: 144px;
}

div.config-panel{
  margin-top: 18px;
  border: 1px solid $beige;
  // height: 648px;
  border-radius: 5px;
}

div.config-panel .series-bar{
  background-color: $light-beige;
  height: 36px;

  h4{
    padding: 6px 0 0 15px;
    text-transform: capitalize;

  }
}

.config-panel__body{
  // display: flex;
}

.config-panel__body .image-wrapper{
  display: flex;
  position: relative;
  height: 546px;
  // width: 60%;

  img{
    display: block;
    margin: auto;
    height: 80%
    // width: 50%;


  }
}

@media screen and (max-width: 991px){
  .config-panel__body .image-wrapper{

    img{
      height: 60%;
    }
  }
}

@media screen and (max-width: 767px){
  .config-panel__body .image-wrapper{

    height: 220px;
    img{
      height: 90%;
    }
  }
}

.config-fields{
  position: relative;
  padding-top: 15px ;
  // height: 546px;
  overflow: auto
  // width: 40%;
}

.config-field-dd-material, .config-field-dd-wheel-dia,
.config-fields-vitalsMeta-bracket-quantity{
  // position: absolute;
  // right: 15px;
  width: 100%;
  // padding-left: 30px;
}

.config-field-dd-material{
  z-index: 1000;
}

.config-field-dd-wheel-dia{
  top: 169px;
  z-index: 999;
}

.config-fields-vitalsMeta-bracket-quantity{
  top: 257px;

  &>div{
      margin: 0 15px 15px 15px;

      &:last-of-type{
        margin-bottom: 0px;
      }
  }
}

//only product details pages

.only-details-pg{

  .config-fields-vitalsMeta-bracket-quantity{
    top: 257px;

    &>div{
        margin-bottom: 40px;
    }
  }

  .product-name{
    padding-bottom: 5px;
    border-bottom: 1px solid $beige-light;
  }

  .product-descp{
    padding-top:  9px;
  }

  table.product-specs{
    width: 100%;

    tr.table-header{
      border-bottom: 0.5px solid $beige;

    }

    tr.table-row {
      border-bottom: 1px solid $beige-light;
    }

    th{
      padding-bottom: 5px;
    }

    td{
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
