.configure-castor-wrapper{

  margin-left: 10vw;
  margin-right: 10vw;

    h3.configure-castor__title{

    margin-top: 150px;

    }

    div.configure-panel{
      margin-top: 18px;
      border: 1px solid $beige;
      height: 648px;
      border-radius: 5px;


      .series-bar{
        background-color: $light-beige;
        height: 36px;

        h4{
          padding: 8px 0 0 15px;
        }
      }

      .configure-panel__body{

        .image-wrapper{
          display: inline-block;
          position: relative;
          height: 546px;
          width: 60%;

          img{
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            height: 432px;
          }

        }

        .configuration-fields{
          vertical-align: top;
          display: inline-block;
          width: 40%;
          padding: 15px 15px 0 0;

          .fields__load-capacity{

          }

          h4{
            text-transform: uppercase;
          }

          label{
            text-transform: uppercase;
          }

        }

        .configure-panel__cta{

        }

      }

    }

}
