// main: App.scss

.config-castor-wrapper{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 150px;
}

h3.config-castor__title{
margin-top: 150px;
}

div.config-panel{
  margin-top: 18px;
  border: 1px solid $beige;
  // height: 648px;
  border-radius: 5px;
}

div.config-panel .series-bar{
  background-color: $light-beige;
  height: 36px;

  h4{
    padding: 6px 0 0 15px;
  }
}

.config-panel__body{
  // display: flex;
}

.config-panel__body .image-wrapper{
  display: flex;
  position: relative;
  height: 546px;
  // width: 60%;

  img{
    display: block;
    margin: auto;
    // height: 432px;
    width: 50%;
  }
}

.config-fields{
  position: relative;
  padding: 15px 15px 0 0;
  height: 546px;
  // width: 40%;
}

.config-field-dd-material, .config-field-dd-wheel-dia,
.config-fields-vitalsMeta-bracket-quantity{
  position: absolute;
  right: 15px;
  width: 100%;
}

.config-field-dd-material{
  z-index: 1000;
}

.config-field-dd-wheel-dia{
  top: 169px;
  z-index: 999;
}

.config-fields-vitalsMeta-bracket-quantity{
  top: 257px;

  &>div{
      margin-bottom: 15px;

      &:last-of-type{
        margin-bottom: 0px;
      }
  }
}
