@import "_config.scss";
@import "home/banner.scss";
@import "home/category-tiles.scss";
@import "home/best-sellers.scss";
@import "category-page.scss";

//header-small styling
h1.general-sub-title{
  font-family: 'suisse-medium';
  font-size: 25px;
  color: $black;
  line-height: 30px;
  margin-top: 63px;
  //margin-left: 15px;
}



header{
  position: fixed;
  top: 0px;
  width: 100%;
  color: $black;
  background-color: $white;
  height: 48px;
  z-index: 10000;
  @include drop-shadow;
  @include transition(height 0.4s ease-out);

  &.expand{
    height: 84px;
  }

  .logo{
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 7px;
    //top: 50%;
    //@include translateY(-50%);

    @include breakpoint($mob_480){
      display: none;
    }
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.secondaryLinks{
      display: block;
      position: absolute;
      top: 0px;
      right: 15px;
      font-family: 'suisse-regular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;

      @include breakpoint($mob_480){
        display: none;
      }
    }

    &.primaryLinks{
      font-family: 'suisse-antique';
      font-size: 14px;
      position: absolute;
      left: 49%;
      bottom: 20px;
      opacity: 0;
      white-space: nowrap;
      @include translateX(-50%);
      letter-spacing: 0.01em;
      @include doubleTransition(opacity 0.2s ease-out  ,bottom 0.2s ease-out );


      &.expand{
        opacity: 1;
        bottom: 8px;


      }

      .beige{
        font-family: 'suisse-regular';
        color: $beige;
      }
    }

    li{
      display: inline-block;
      margin-right: 24px;

      a{
        text-decoration: none;
        color: $black;

        &:hover{


        }
      }

      &.cart{
        margin-right: 0;

        .cart-icon{
          display: inline-block;
          position: relative;
          margin-right: 6px;


          span{
            position: absolute;
            right:12px;
            top: 2px;
            font-family: 'suisse-regular';
            color: $orange;
            font-size: 14px;
          }
        }

        a{
          color: $orange;
        }
      }

    }
  }
}


.logo-small{
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  @include translateY(-50%);

  @include breakpoint($mob_480){
    display: block;
  }
}

.mobile-header-icons{
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  @include translateY(-50%);


  @include breakpoint($mob_480){
    display: block;
  }



  .hamburger{
    display: inline-block;
  }

  .cart-icon-mobile{
    display: inline-block;
    position: relative;
    margin-right: 15px;

    span{
      position: absolute;
      right:12px;
      top: 0px;
      font-family: 'suisse-regular';
      color: $orange;
      font-size: 14px;
    }
  }
}

//footer styling

footer{
  color: $white;
  background-color: $black;
}
